body {
    margin: 0px;
    background-color: black;
}

p,h1,div {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fact-title {
    color:white;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: left;
}

.img-cont {
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    height: auto; 
}

header {
    display: flex;
    background-color: white;
    width:100%;
}

.logo-name { 
    background-color: white; /* Denna ligger inte i mitten vertikalt*/
    display: flex;
    justify-content: left;
    width: 50%;
    padding:1%;
    margin-left: 3%;
}

.logo {
    height: 60px;
}

.name {
    padding-left: 20px;
}

.patreon-menu {
    background-color: white;
    display: flex;
    justify-content: right;
    width: 50%;
    padding:2px;
    margin-right:8%;
}

.patreon {
    background-color: black;
    padding:5%;
    border-radius: 6%;
}

.menu {
    background-color: white;
    padding:5%;
}

#content {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}
 
.title {
    color: white;
    text-align: center;
    font-size: 6pc; 
    
}

.fact-text {
    padding-left: 15%;
    padding-right: 15%;
    color: white; 
    text-align: center;
}

#indexThumbnails {
    display: grid;
    grid-template-areas: 
    "top top"
    "left right";
    width: 50%;
}

#top {
    grid: top;
}

#left {
    grid-area: left;
}

#right {
    grid-area: right;
}

.thumbnail {
    padding: 1%;
    background-color: rgb(47, 109, 225);
    margin: 1%;
    position: relative;
    display: flex;
}

.TNtext {
    position: absolute;
    bottom: 2%;
    left: 5%;
    color: white;
    font-size: large;
    text-shadow: 0 0 3px #000000;
}

.TNimg:hover {
    opacity: 60%;
}

.liveStream {
    display: flex;
    justify-content: center;
    position: relative;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.streamImg {
    opacity: 30%;
}
.streamImg:hover {
    opacity: 100%;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3pc;
}

@media only screen and (max-width: 500px) {
    .overlay-text{
        font-size: 1.5pc;
    }
    
}

footer {
    display: flex;
}

.sources-staff {
    display: flex;
    flex-direction: row;
}

.sources, .staff {
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    width: fit-content;
    text-align: left;
    margin-right: 50%;
}

#adopt-cont {
    display: grid;
    grid-template-areas: 
    "left righttop"
    "left rightbottom";
    justify-content: center;
    width: 50%;
}

#Leftrow {
    grid-area: left;
}

#RightTop {
    grid-area: righttop;
}

#RightBottom {
    grid-area: rightbottom;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    display: flex;
}

.cont-img {
    padding: 20px;
}